html {
    font-family: 'Kiwi Maru', serif;
}

body {
    background-color: #f9f4df;
    text-align: center;
    height: 100vh;
}

#__layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}